img {
    display: flex;
    width: 100%;
}

li  {
    display: inline;
    padding: 8px;
    background-color: ivory;
}

header  {
    position: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}

#header-img {
    max-width: 650px;
}

#video  {
    display: flex;
    align-items: center;
    margin: 10px;
}

#games {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.products   {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(180, 178, 178);
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
}

.title  {
    padding: 15px;
}

@media all  {
    #videos {
        position: relative;
        display: block;
        width: 90%; /* width of iframe wrapper */
        height: 0;
        margin: auto;
        padding: 0% 0% 56.25%; /* 16:9 ratio */
        overflow: hidden;
      }
    #videos > div {
        position: relative;
        padding-bottom: 75%;
        height: 0px;
    }
    #videos  iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
    }

}
